h1 {
    margin-bottom: 70px;
    color: palevioletred;
    text-align: center;
    text-transform: uppercase;

}

.garland {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.garland__item {
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(7px 11px 10px silver);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.picture {
    margin: 0 auto;
    width: 350px;
    height: 300px;
    background-size: cover;
    filter: drop-shadow(7px 11px 10px silver);
}

.peak {
    background-image: url(./images/piki2.jpg);
}

.march {
    background-image: url(./images/march.jpg);
}


