h1 {
    margin-bottom: 70px;
    color: palevioletred;
    text-align: center;
    text-transform: uppercase;

}

.garland {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.garland__item {
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(7px 11px 10px silver);
}


